<div *ngIf="!loggedIn">
    <h1>Welcome to BasicHomes ! Login to start managing your homes</h1>
    <h3>Need to generate a link for your dashboard ? Add it <a routerLink="db">here</a> !</h3>
</div>
<div *ngIf="loggedIn">
    <h1>Welcome to BasicHomes !</h1>
    <div *ngIf="!loadingComplete">
        <h1>Loading informations...</h1>
    </div>
    <div *ngIf="loadingComplete">
        <div class="card">
            <h1>Your informations</h1>
            <p><strong>Account ID:</strong> {{ userInfos.accountID }}</p>
            <p><strong>Minecraft Username:</strong> {{ userInfos.username }}</p>
            <p><strong>Minecraft UUID:</strong> {{ userInfos.userID }}</p>
            <br>
        </div>
        <div class="card">
            <h1>Your Stats</h1>
            <p><strong>Homes:</strong> {{ homeCount }}</p>
            <p><strong>Rank:</strong> {{ userInfos.rank | titlecase }}</p>
            <br>
            <button routerLink="homes/{{userInfos.userID}}">Manage My Homes</button>
            <button routerLink="homes" *ngIf="isAdmin()">Manage My Server Homes</button>
            <button (click)="userHomesByUsername()" *ngIf="isAdmin()">Player Homes (Username)</button>
            <button (click)="userHomesByUUID()" *ngIf="isAdmin()">Player Homes (UUID)</button>
        </div>
    </div>
</div>