<div *ngIf="!loggedIn">
    <h1>Welcome to BasicHomes ! Login to start managing your homes</h1>
</div>
<div *ngIf="loggedIn">
    <h1>Welcome to BasicHomes !</h1>
    <div *ngIf="!loadingComplete">
        <h1>Loading informations...</h1>
    </div>
    <div *ngIf="loadingComplete">
        <div class="card">
            <h1>Your informations</h1>
            <p><strong>Account ID:</strong> {{ userInfos.accountId }}</p>
            <p><strong>Minecraft Username:</strong> {{ userInfos.username }}</p>
            <p><strong>Minecraft UUID:</strong> {{ userInfos.userId }}</p>
            <br>
        </div>
        <h1>Your stats</h1>
            <div class="card">
                <h1>Server Stats</h1>
                <p><strong>Servers:</strong> {{ userInfos.servers.length }}</p>
                <p><strong>Admin On Servers:</strong> {{ adminOnServers() }}</p>
                <br>
                <button (click)="serversRedirect()">Manage My Servers</button>
            </div>
    </div>
</div>