<div *ngIf="loadingComplete">
    <div class="card clearfix">
        <h1>Your account</h1>
        <p><strong>Account ID:</strong> {{ userInfos.accountID }}</p>
        <p><strong>Minecraft Username:</strong> {{ userInfos.username }}</p>
        <p><strong>Minecraft UUID:</strong> {{ userInfos.userID }}</p>
        <br>
        <button (click)="changePassword()" class="primary">Change Password</button>
        <button (click)="deleteAccount()" class="danger">Delete Account</button>
    </div>
</div>
