<div *ngIf="!loadingComplete">
    <h1>Loading informations...</h1>
</div>
<div *ngIf="loadingComplete">
    <h1>Your servers</h1>
    <div *ngFor="let server of userInfos.servers">
        <div class="card clearfix">
            <h1>{{ server.serverName }}</h1>
            <p><strong>Server Generated ID:</strong> {{ server.serverID }}</p>
            <br>
            <a routerLink="/homes/{{server.serverID}}" *ngIf="isAdmin(server.serverID)">Manage My Server Homes</a>
            <a routerLink="/homes/{{server.serverID}}/{{userInfos.userID}}">Manage My Homes</a>
            <button (click)="userHomesByUsername(server.serverID)" *ngIf="isAdmin(server.serverID)">Player Homes (Username)</button>
            <button (click)="userHomesByUUID(server.serverID)" *ngIf="isAdmin(server.serverID)">Player Homes (UUID)</button>
            <button (click)="renameServer(server)" class="right">Rename Server</button>
        </div>
    </div>
</div>
