<div class="card clearfix">
    <h1>{{ home.homename | titlecase }}</h1>
    <p><strong>ID: </strong>{{ home.homeid }}</p>
    <p><strong>Owner Username: </strong>{{ username }}</p>
    <p><strong>Owner UUID: </strong>{{ home.uuid }}</p>
    <p><strong>World: </strong>{{ home.world }}</p>
    <p><strong>X: </strong>{{ home.x }}</p>
    <p><strong>Y: </strong>{{ home.y }}</p>
    <p><strong>Z: </strong>{{ home.z }}</p>
    <br>
    <a routerLink="/home/{{serverId}}/{{home.homeid}}" *ngIf="isInList()" style="float: left;">Access Home</a>
    <a (click)="showConfirmation(home.homeid)" *ngIf="!isInList()" class="right" style="background-color: crimson;">Delete Home</a>
    <br>
</div>
